[Unit]
Description=Ravel
Wants=network-online.target
After=network-online.target
# After=ikto.service # Uncomment if you want to start Ravel after ikto

[Service]
# Ravel agent must run as root but you can run Ravel servers as a non-root user
User=ravel 
Group=ravel

ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/ravel agent -c /etc/ravel/config.toml
KillMode=process
KillSignal=SIGINT
LimitNPROC=infinity
Restart=on-failure
RestartSec=1
TasksMax=infinity
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
